body {
    font-family: "Roboto", sans-serif;
    background-color: black !important;
}

.logoNav {
    max-width: 100px;
}

.nav-item {
    padding-left: 1em;
}

.carousel-item img {
    max-height: 700px;
    max-width: 90%;
    margin: auto;
    padding-top: 2em;
}

.botaoRegistro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em; 
}

.botaoRegistroIndex {
    background-color: greenyellow !important;
}

.botaoRegistro button:hover {
    color:black;
}

.container {
    color: white;
    justify-content: center;
    text-align: center;
}

.container img {
    min-height: 700px;
    max-width: 90%;
}

.textoBemVindo {
    padding-top: 1em;
    padding-bottom: 2em;
    max-width: 50em;
    text-align: center;
    margin: auto;
}

.subtitulo {
    padding-bottom: 1em;
}

.card-body {
    background-color: greenyellow;
}
