body {
    font-family: "Roboto", sans-serif;
    background-color: black !important;
}

.logoNav {
    max-width: 100px;
}

.nav-item {
    padding-left: 1em;
}

.carousel-item img {
    max-height: 700px;
    max-width: 90%;
    margin: auto;
    padding-top: 2em;
}

.botaoRegistro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em; 
}

.botaoRegistroIndex {
    background-color: greenyellow !important;
}

.botaoRegistro button:hover {
    color:black;
}
